@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Heavy.eot');
    src: url('../../assets/font/AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Heavy.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Heavy.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Heavy.svg#AvenirNextLTPro-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Demi.eot');
    src: url('../../assets/font/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Demi.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Bold.eot');
    src: url('../../assets/font/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Regular.eot');
    src: url('../../assets/font/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Medium.eot');
    src: url('../../assets/font/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Medium.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Medium.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Thin.eot');
    src: url('../../assets/font/AvenirNextLTPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Thin.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Thin.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Thin.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Thin.svg#AvenirNextLTPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/font/AvenirNextLTPro-Light.eot');
    src: url('../../assets/font/AvenirNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/AvenirNextLTPro-Light.woff2') format('woff2'),
        url('../../assets/font/AvenirNextLTPro-Light.woff') format('woff'),
        url('../../assets/font/AvenirNextLTPro-Light.ttf') format('truetype'),
        url('../../assets/font/AvenirNextLTPro-Light.svg#AvenirNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}